@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900 text-slate-100;

  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style-type: none;
}

a {
  @apply decoration-stone-500 hover:decoration-stone-100 hover:transition-all duration-300 ease-in-out;
}